@import "~bootstrap";
@import "highlight.js/scss/a11y-dark";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
* {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
}

a {
    color: #fff;
    &:focus {
        color: #fff;
    }
    &:hover {
        color: #fff;
    }
}

.btn-secondary {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
    &:hover {
        color: #333;
        text-shadow: none;
        background-color: #fff;
        border: .05rem solid #fff;
    }
    &:focus {
        color: #333;
        text-shadow: none;
        background-color: #fff;
        border: .05rem solid #fff;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

html {
    height: 100%;
    background-color: #333;
}

body {
    height: 100%;
    background-color: #333;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

pre {
    color: #fff;
    width: 100%;
    text-align: start;
    font-size: 0.7rem;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.show {
    display: block;
}

.modal {
    color: black;
    text-shadow: none;
}

.nav-masthead {
    .nav-link {
        padding: .25rem 0;
        font-weight: 700;
        color: rgba(255, 255, 255, .5);
        background-color: transparent;
        border-bottom: .25rem solid transparent;
        &:hover {
            border-bottom-color: rgba(255, 255, 255, .25);
        }
        &:focus {
            border-bottom-color: rgba(255, 255, 255, .25);
        }
    }
    .nav-link+.nav-link {
        margin-left: 1rem;
    }
    .active {
        color: #fff;
        border-bottom-color: #fff;
    }
}

.cover {
    padding: 0 1.5rem;
    z-index: 0;
    .btn-lg {
        padding: .75rem 1.25rem;
        font-weight: 700;
    }
    .tooltip-custom {
        font-size: 0.9rem;
        color: #637d7c;
        position: absolute;
        z-index: 3;
        background-color: #e5eaf5;
        border-radius: 5px;
        padding: 5px;
    }
    .tooltip-custom-over {
        color: #637d7c !important;
        background-color: #e5eaf5 !important;
        border-radius: 5px;
    }
    .token-list {
        font-size: 1.4rem;
        text-shadow: none;
        .tokens {
            cursor: pointer;
            margin: 0;
            padding: 0 3.4px;
            flex-grow: 0;
            .type-entity {
                font-size: 0.7rem;
                font-weight: bold;
                margin-left: 8px;
            }
        }
    }
    .modal {
        .arrow {
            font-size: 3rem;
            line-height: 20px;
            padding: 0;
            margin: 0;
            max-width: 3rem;
        }
        .col {
            padding: 0;
            margin: 0;
        }
        input {
            text-align: center;
        }
    }
}

.text-vertically {
    writing-mode: vertical-lr;
    display: block;
    cursor: none;
    text-orientation: upright;
}

.mastfoot {
    color: rgba(255, 255, 255, .5);
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}